build/
*.o
*.os
*.obj
moc_*
*.moc
qrc_*
build-appimage/
flatpak-build/
flatpak-export-repo/
*.AppImage
*.flatpak
.rcc/
.qmlcache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.vscode/
.idea/
*.autogen
meta_types/
.flatpak-builder/
flatpak-build/
.hermes/
build-dir/
AGENTS.md
