# SPDX-FileCopyrightText: 2026 kirijin <avel.ronin@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Name=Walltz
Comment=Create wallpapers from images with blur and color backgrounds
Type=Application
Categories=Qt;KDE;Graphics;
Icon=org.walltz.walltz
Exec=walltz
Terminal=false
StartupNotify=true
MimeType=image/png;image/jpeg;
X-KDE-FormFactor=desktop
